@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: blue;
    /* text-decoration-style: wavy; */
    text-decoration-thickness: 5px;
    text-indent: 35px;
    text-align: center;
}
p{
    font-family: "Space Mono", monospace;
    font-size: 35px;
    color: red;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -2px;
    /* font-style: italic;
    font-weight: 600;
    text-decoration: underline; */
}
.lorem{
    border: 2px solid red;
    width: 200px;
    text-overflow: clip;
    overflow: hidden;
    word-break: break-all;
}