.container{
    background-color: blue;
    width: 80vw;
    height: 80vh;
    position: relative;
}
.box{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 50%;
    animation: bounceX 3s linear infinite, bounceY 1s ease-out infinite alternate;
}
@keyframes bounceY{
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}
@keyframes bounceX{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}