nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    display: flex;
    gap: 25px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: rgb(57, 57, 57);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
li a:hover{
    color: grey;
}
.container{
    margin: 50px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 275px);
    justify-content: center;
    gap: 20px;
}
.item{
    height: 150px;
    width: 275px;
    background-color: rgba(228, 228, 228, 0.422);
    border-radius: 5px;
    text-align: center;
}
h2{
    padding: 5px 0px 15px 0px;
}
.buttons *{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 5px;
}
.button1{
    background-color: rgb(0, 172, 199);
}
.button2{
    background-color: rgb(0, 169, 67);
}
@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }
    .item{
        width: 100%;
    }
}