body{
    background-color: red;
}
@media only screen and (max-width: 455px){
    body{
        background-color: blue;
    }
    .boxes{
        flex-direction: column;
    }
}
@media screen and (orientation: landscape) {
    body{
        border: 2px solid purple;
    }
}
.boxes{
    display: flex;
}
.box{
    padding: 2px;
    margin: 2px;
    background-color: aqua;
    width: 344px;
    height: 344px;
}