*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.main{
    height: 95vh;
    background-image: url(assets/images/bg-img.jpg);
    position: relative;
    background-position: center -20px;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
}
.main .box{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.45) 30%,
        rgba(0,0,0,0.45) 65%,
        rgba(0,0,0,0.85) 100%);
    position: absolute;
    top: 0;
}
nav{
    height: 82px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 12px;
}
nav *{
    position: relative;
    z-index: 10; 
    font-size: 14px;  
}
nav img{
    width: 148px;
}
.buttons{
    display: flex;
    gap: 11px;
}
nav select{
    padding: 6px 20px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.685);
    color: white;
    font-size: 16px;
}
button:hover{
    background-color: rgb(209, 0, 0);
    cursor: pointer;
}
nav button{
    background-color: red;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
.tagline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 65%;
    position: relative;
    padding: 25px;
}
.tagline> :first-child{
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    max-width: 600px;
    text-align: center;
}
.tagline> :nth-child(2){
    font-weight: 700;
    font-size: 20px;
    padding: 18px 0 20px 0;
    text-align: center;
}
.tagline> :nth-child(3){
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0 10px 0;
    text-align: center;
}
.buttons2{
    display: flex;
    gap: 8px;
    margin-top: 6px;
}
.tagline input{
    width: 364px;
    height: 56px;
    box-sizing: border-box;
    padding: 0 16px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.685);
    color: white;
    font-size: 16px;
    border: 1px solid grey;
}
.tagline button{
    display: flex;
    align-items: center;
    gap: 14px;
    height: 56px;
    padding: 0 24px;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border: none;
}
.tagline button:hover{
    background-color: rgb(209, 0, 0);
    cursor: pointer;
}
.main2 {
    position: relative;
    background: #000;
    color: #fff;
    padding: 60px 10% 50px;
    overflow-x: clip;
}
.main2::before {
    content: "";
    position: absolute;
    top: -45px;
    left: -10%;
    width: 120%;
    height: 90px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: linear-gradient(to right, #b3195f 0%, #e50914 50%, #b3195f 100%);
    z-index: 0;
}
.main2::after {
    content: "";
    position: absolute;
    top: -42px;
    left: -10%;
    width: 120%;
    height: 87px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: radial-gradient(ellipse 55% 100% at 50% 0%,
                #141a52 0%, #080b26 50%, #000 100%);
    z-index: 0;
}
.trending{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4rem;
}
.trending ul{
    display: flex;
    justify-content: space-around;
}
.trending ul li{
    list-style: none;
    position: relative;
    display: block;
}
.trending ul li img{
    border-radius: 10px;
    display: block;
}
.trending ul li span{
    position: absolute;
    left: -20px;
    bottom: -10px;
    font-weight: 700;
    font-size: 100px;
    color: black;
    -webkit-text-stroke: 3px white;
    paint-order: stroke fill;
}
.trending ul li:hover{
    transform: scale(105%);
    cursor: pointer;
}
.reasons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 16px;
    margin-bottom: 4rem;
}
.card{
    position: relative;
    flex: 1;
    min-height: 230px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(149deg, rgb(25, 32, 80) 0%, rgb(35, 12, 30) 100%);
}
.card h4{
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 20px;
}
.card p{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #b3b3b3;
}
.card img{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 55px;
    filter: invert(1);
}
.faq{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.faq button{
    padding: 27px 25px;
    border: none;
    background-color: rgb(45, 45, 45);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.faq button:hover{
    background-color: rgb(60, 60, 60);
}