@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.card {
    width: 450px;
    height: 615px;
    background-color: white;
    border-radius: 15px;
}

.image {
    padding: 5px;
}

.image img {
    border-radius: 15px;
}

.capsules {
    padding: 5px 0 0 20px;
    font-size: 12px;
}

.capsules span {
    border: 1px solid rgba(128, 128, 128, 0.215);
    padding: 2px 7px;
    border-radius: 20px;
    color: rgb(138, 138, 138);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.content {
    padding: 15px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.content p {
    font-size: 15px;
    color: grey;
}

.button {
    text-align: center;
}

.button button {
    background-color: rgba(0, 213, 255, 0.214);
    color: rgb(0, 119, 255);
    padding: 15px 30px;
    border-radius: 30px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}